#my-body {
  margin: 10px;
}

#div-menu {
  padding-right: 10px;
  padding-left: 10px;
}

#menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#my-nav {
  margin-bottom: 20px;
}

h4 {
  font-family: 'Acme', serif;
  font-size: 5rem;
}

.btn-entrar, .btn-cads {
  margin: 10px;
  font-size: 15px;
}
img {
  max-height: 45vh;
}
